@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1 class="display-4">Bine ati venit in Coffee Corner!</h1>
    <p style ="color:red; font-family:courier;"> Cafeaua nu este o băutură … Este un moment de plăcere.</p>
</div>
